<%- include('components/headers') %>
    <div class="dashContainer">
        <%- include('components/navLateral') %>
        <main class="dashboard">
            <div id="agendar" class="formulario">
                <form>
                    <label>Upload da Mídia</label>
                    <input type="file"/>
                    <label>Texto da Postagem</label>
                    <input type="text"/>
                    <label>Rede Social</label>
                    <select id="social" name="social">
                        <option value="facebook">Facebook</option>
                        <option value="twitter">Twitter</option>
                        <option value="instagram">Instagram</option>
                    </select>
                    <label>Data e horário da publicação</label>
                    <input type="datetime-local"/>
                    <button>Agendar</button>
                </form>
            </div>
        </main>
    </div>
</body>
</html>