<%- include('components/headers') %>
    <header>
        <div class="logo-content">
            <a href="/"><img src="./imagens/logo_home.png" alt="logo" class="logo_nav"></a>
        </div>
    <nav>           
            <a href="login">Login</a>
            <a href="cadastro" class="active">Cadastre-se</a>          
    </nav>
    </header>
    <div class="container">
    <main class = "loginCadastro">
        <img src="./imagens/logo_home.png" alt="logo" id="logoLoginCadastro">
        <div id="ilustracaoCadastro">
            <img src="./imagens/cadastro.svg" alt="imagem login">
        </div> 
        <div class="formulario">
            <h3>Crie uma conta</h3>
            <div class="google-btn">
                <div class="google-icon-wrapper">
                  <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                </div>
                <p class="btn-text"><b>Acessar com o Google</b></p>
              </div>
              <h3>ou</h3>              
              <form method="POST" action="/cadastro">
                  <input type="text" name="name" id="nome" placeholder="nome completo">
                  <input type="email" name="email" id="email" placeholder="email">
                  <input type="password" name="password" id="password" placeholder="senha">
                  <h3>Escolha suas redes</h3>
                  <div class="logos">
                  <a href="#" ><img src="./imagens/face.png" alt="logo facebook"></a>
                  <a href="#"><img src="./imagens/twitter.png" alt="logo twitter"></a>
                  <a href="#"><img src="./imagens/insta.png" alt="logo twitter"></a>                  
                  </div>
                  <button type="submit" >cadastrar</button>
                  <% if(typeof(errors) != 'undefined') { %>    
                    <p style="color: red;">ERROR</p>
                    <ul>
                        <% errors.forEach((error)=>{ %>
                            <li><%= error.msg %></li>
                       <% }) %>                            
                    </ul>
                <% } %>
                <% if(typeof(msg) != 'undefined') { %>
                    <p><%= msg %></p>
                    <%}%>

                <a href="login" id="pergunta">Já tem cadastro?</a>                                    
              </form>
        </div>       
    </main>
    
    <footer>
        <p>Todos direitos reservados para mídia tools</p>
    </footer>
    </div>    
</body>
</html>