<%- include('components/headers') %>
    <div class="dashContainer">
<%- include('components/navLateral') %>
        <main class="dashboard">
            <div class="formulario">
                <form action="">
                    <div class="barraParametros">
                        <div class="seletorParametro">
                            <h3>Rede Social</h3>
                            <select id="social" name="social">
                                <option>Selecionar</option>
                                <option value="facebook">Facebook</option>
                                <option value="twitter">Twitter</option>
                                <option value="instagram">Instagram</option>
                            </select>
                        </div>
                        <div id="seletorParametro">
                            <h3>Data Inicio</h3>
                            <input type="date" id="dataInicio" name="dataInicio">
                        </div>
                        <div id="seletorParametro">
                            <h3>Data Fim</h3>
                            <input type="date" id="dataFim" name="dataFim">
                        </div>
                    </div>
                    <div class="seletorMetricas">
                        <h3>Selecione as métricas desejadas</h3>
                        <div class="check">
                            <label><input type="checkbox" id="seguidores" name="seguidores" value="seguidores">Seguidores</label>
                            <label><input type="checkbox" id="seguindo" name="seguindo" value="seguindo">Seguindo</label>
                            <label><input type="checkbox" id="alcance" name="alcance" value="alcance">Alcance das Publicações</label>
                            <label><input type="checkbox" id="topPosts" name="topPosts" value="topPosts">Top Posts</label> 
                            <label><input type="checkbox" id="melhorDataHora" name="melhorDataHora" value="melhorDataHora">Melhor data/hora</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="grafico">
                <!-- <iframe src="" frameborder="0"> -->
                    <img src="./imagens/simple_chart.png" alt="Aqui vai o gráfico" width="500px">
                <!-- </iframe> -->
            </div>
        </main>
    </div>
     <!-- 
    <script>
        function toggleMenuLateral() {
            var menu = document.getElementById("menuLateral");
            if (menu.style.display === "none") {
                menu.style.display = "block";
            } else {
                menu.style.display = "none";
            }
        }
    </script>
    -->
</body>
</html>