<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/script.js" defer></script>
  </head>
  <body>
    <main>
      <nav>
        <ul>
          <li class="options"><a href="#option">Option</a></li>
          <li class="quantify">
            <a href="#quantify">Quantity</a>
            <input type="text" id="numero" value=>
            <a href="#quantify"><button class="botao">Click Aqui!</button></li></a>
        </ul>
        <div class="dropdown none">
          <h2 class="textodrop">Dropdown</h2>
          <p class="none2">Selecione A</p>
          <p class="none2 opcao">Selecione B</p>
        </div>
        <div class="home homeAA">
         <section class="homeA itenA">
            <div class="flex iten"><p class="circulo">1</p><p class="item">Item A1</p></div>
            <div class="flex iten"><p class="circulo">2</p><p class="item">Item A2</p></div>
            <div class="flex iten"><p class="circulo">3</p><p class="item">Item A3</p></div>
        </section>
         <div class="flex2">
           <p class="arrow arrow1">&larr;</p>
           <p class="arrow arrow2">&rarr;</p>
          </div>
        </div>
        <div class="home homeBB none">
            <section class="homeB itenA">
              <div class="flex iten"><p class="circulo">1</p><p class="item">Item B1</p></div>
              <div class="flex iten"><p class="circulo">2</p><p class="item">Item B2</p></div>
              <div class="flex iten"><p class="circulo">3</p><p class="item">Item B3</p></div>
            </section>
            <div class="flex2">
              <p class="arrow arrow3">&larr;</p>
              <p class="arrow arrow4">&rarr;</p>
            </div>
         </div>
      </nav>
    </main>
    <footer>
    </footer>
  </body>
</html>