.configContainer {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.menuLateral {
    display: flex;
    flex-direction: column;
    width: 30vw;
    background-color: #AA60DC;
    text-align: center;
    align-items: center;
    opacity: 90%;
    font-size: 22px;
    overflow: hidden;
    height: 100pc;
}

.menuLateral .logos a {
    margin-left: 1rem;
    margin-right: 1rem;
}

.menuLateral .perfil img {
    padding: 3rem 3rem 0 3rem;
    max-width: 200px;
}

.menuLateral .menuOpcao img {
    max-width: 30px;
    padding: 0 1rem;
}

.menuOpcao {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    margin-top: 2rem;
}

.menuOpcao a {
    padding: 1rem 0.5rem;
    text-decoration: none;
    color: white;
}

.menuOpcao a:hover {
    background-color: white;
    color: #AA60DC;
}

.paginaConfiguracoes{
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-left: 5%;
}

.paginaConfiguracoes form{
    display: flex;
    flex-direction: column;  
    width: 50vw;
    height: 50vh;
    margin: 7% 10%;
    max-width: 1000px;
}

.paginaConfiguracoes form *{
    font-size: 18px;
    font-family: 'Righteous', cursive;
    padding: 15px 0 10px;
    /* font-family: 'Roboto', sans-serif; */
}

.paginaConfiguracoes form input {
    background-color: #AA60DC;
    line-height: 20px;
    border: none;
    border-radius:30px;
    color:white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-indent: 25px;
}

.paginaConfiguracoes form button{
    margin-top: 15px;
    align-self: flex-end;
}

#configContato {
    display: flex;
    justify-content: space-around;
    width: 50vw;
    height: 50vh;
}

#configContato .contatoImagem {
    width: 50vw;
    height: 50vh;
    text-align: center;
}

#configContato .contatoMapa {
    width: 50vw;
    height: 50vh;
}

#configContato .contatoMapa iframe{
    width: 50vw;
    height: 20vh;
    max-width: 950px;
}

#configContato .logoRedes{
    margin-top: 2%;
    display:flex;
    width: 10%;
    max-width: 220px;
    justify-content: space-between;
}
