body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FDF5FF;
    width: 100%;
}

h1{
    font-size: 36px;
    font-family: 'Righteous', cursive;
    color: #AD4B61;
    align-self: flex-start;
}

h2 {
    font-size: 32px;
    font-family: 'Righteous', cursive;
    color: #AD4B61;
    align-self: flex-start;
}

h3 { 
    font-size:24px;
    color: #AD4B61;
}

p{
    font-size:18px;
    color:#534145;
    font-family: 'Roboto', sans-serif;
}

nav {
    display:flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 70px;
    background-color: #AA60DC;
    opacity: 90%;
    font-size: 22px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}

.ancoraTitulo{
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-right:30%;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color:#FFACBE;
    font-weight: bold;
}

.active{
    color:#FFACBE;
    font-weight: bold;
}

button{
    background-color: #AA60DC;
    height: 60px;
    width: 280px;
    border: none;
    border-radius:30px;
    color:white;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

button:hover{
    background: white;
    color: #FFACBE;
    cursor: pointer;
}

#homeIntroducao{
    margin-top:110px;
    display:flex;
}

.logo{
    text-align: center;
    margin-left:3%;
    margin-right:4%;
}

.introducao{
    margin-top:3%;
    max-width: 65%;
}

#homeEspacamento{
    background-image: url("./imagens/background_home.png");
    height: 350px;
    width: 100%;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top:2%;
    margin-bottom: 4%;
}

#homeEspacamento h2{
    max-width: 750px;
    margin-left: 26%;
    margin-top: 6%
}

#homeEspacamento button{
    margin-top: 2%
}

#homeServicos{
    width: 100%;
    margin-bottom:3%;
}

#homeServicos h2{
    margin-left: 3%;
}

.bloquinhos{
    text-align: center;
}

.bloquinhos p{
    max-width: 70%;
    text-align: center;
    margin-left:12%;
}

#homeServicos .homeServicosOpcoes{
    display:flex;
}

#homeContato{
    display:flex;
    margin-left:3%;
}

.contatinho{
    margin-left:3%;
}

#homeContato iframe{
    width: 950px;
    height: 305px;
    margin-top:5%;
}

.informacoesContato{
    display:flex;
    justify-content: space-between;
    margin-top:1%;
}

.logoRedes{
    margin-top: 2%;
    display:flex;
    width: 220px;
    justify-content: space-between;
}

.homeContatoMapa{
    margin-top:1%;
    margin-left:3%;
}

.homeContatoImagem{
    text-align: center;
}

footer{
    height: 60px;
    width: 100%;
    text-align: center;
    background-color: black;
    margin-top:3%;
}

footer p{
    color:white;
}

@media only screen and (max-width: 1450px) {
    body {
      background-color: lightblue;
    }
  }