body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FDF5FF;
}

h1{
    font-size: 36px;
    font-family: 'Righteous', cursive;
    color: #AD4B61;
    align-self: flex-start;
}

h2 {
    font-size: 32px;
    font-family: 'Righteous', cursive;
    color: #AD4B61;
    align-self: flex-start;
}

h3 { 
    font-size:24px;
    color: #AD4B61;
}

p{
    font-size:18px;
    color:#534145;
    font-family: 'Roboto', sans-serif;
}

nav {
    display:flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 70px;
    background-color: #AA60DC;
    opacity: 90%;
    font-size: 22px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}

.ancoraTitulo{
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-right:30%;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color:#FFACBE;
    font-weight: bold;
}

.active{
    color:#FFACBE;
    font-weight: bold;
}

button{
    background-color: #AA60DC;
    height: 60px;
    width: 280px;
    border: none;
    border-radius:30px;
    color:white;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

button:hover{
    background: white;
    color: #FFACBE;
    cursor: pointer;
}
